@import "global";

/* month */
.fc .fc-col-header-cell-cushion {
  padding: 8px 4px;
}
.fc .fc-button-primary {
  background-color: $color-dark-gray;
}
th {
  background-color: $color-primary;
}
.fc-col-header-cell-cushion  {
  color: $color-white;
}