/* 参考URK */
/* https://www.palettable.io/9DCCDB-373737-03B2FD-F6F6F6-A8C7A5 */

/* 文字色 */
$color-black: #000000;
$color-white: #ffffff;

/* 色 */
$color-primary: #9dccdb;
//$color-primary-dark: #;
//$color-primary-light: #;

//$color-secondary: #f3e3c2;
//$color-secondary-dark: #396FAB;
//$color-secondary-light: #EEF4F9;

//$color-caution: #E12C6D;
//$color-caution-light: #FCEAF0;


//$color-input: #f2f4f7;

$color-dark-gray: #373737;
$color-light-gray: #5a5656;
//$color-text-gray: #5A5A75;
//$color-gray: #888E9A;
//$color-negative-gray: #C4C7CC;
//$color-negative-hover: #ADB1B8;
//$color-line-gray: #e1e5eb;
//$color-form-gray: #EDEFF2;

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}